* {
  box-sizing: border-box;
  padding: 0;
  }
.App {
  text-align: center;
}
:root{
  --theme-purple: rgb(190, 107, 238);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#gallery{
  
  
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  position: relative;
  top: 90px;
 
  
   
}
#explore{
  top: 90px;
  position: relative;
  text-align: center;
  font-size: 0.8em;
  padding: 16px;
  margin-bottom: 20px;
  color: #6a696e;
}
#explore a{
  color:var(--theme-purple);
}
#totallikes{
  top: 90px;
  position: relative;
  font-style: italic;
  padding-bottom: 13px;
}
#totallikes strong{
  color: var(--theme-purple);
}
body{
  background-color: rgb(255, 254, 255);
}
#main-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid rgb(234, 229, 240);
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  
}


#main-nav a{
  text-decoration: none;
  font-size: 26px;
  color: black;
  padding: 18px 0;
  display: inline-flex;
  font-weight: 900;
  letter-spacing: 0.02em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex:initial;
 
}
#main-nav .wrapper{
  display: flex;
  
  display: -webkit-flex;

}
a.active .icon{
  fill:black
}
a .icon{
  fill: transparent;
  stroke: black;
}
button{
  -webkit-appearance: none;
  appearance: none;
}
#main-nav .right{
  
   align-items: center;
   justify-content: end;
   -webkit-justify-content:end;
   
   position: relative;
 
   text-align: right;
   flex: 1;
   -webkit-flex:1;
   width: 100%;
   display: inline-block;
  
  
   
  
   
 }
 .right a{
   display: inline-flex;
   margin-left: 0.8em;
  
 }
.heart{
  fill:transparent;
  cursor: pointer;
  

}
.heart:hover{
  cursor: pointer;
 
}
.wrapper{
  width: 70%;
  margin: 0 auto;
}

.heart.fill{
  fill:rgb(190, 107, 238);
  stroke: rgb(190, 107, 238);
  animation: enlarge 0.2s ease-in 1;
}
@keyframes enlarge{
  0%{
    transform: scale(1);
  }90%{
    transform: scale(1.3);
  }100%{
    transform: scale(1.2);
  }
}
#loadmore{
  display: table;
  margin: 0 auto;
  font-size: 20px;
  padding: 12px 30px;
  background-color: white;
  position: relative;
  top: 90px;
}
.home{
  
  margin: 0 auto;
}
#gallery .col{
  display: inline-table;
  width: 45%;
  font-family: sans-serif;
  
}
#gallery .nasa-photo{
  display: inline-block;
  width: 100%;
  padding: 0;
 overflow: hidden;
  align-self: start;
  margin-bottom: 20px;
  border: 1px solid rgb(175, 172, 187);
  border-radius: 1%;
  background-color: white;
 

}
#gallery .nasa-photo h2{
  font-size: 16px;
}
#gallery .nasa-photo .explaination{
  font-size: 14px;
}
#gallery .nasa-photo .info{
  padding: 12px;
}
#gallery .nasa-photo img{
  width: 100%;
  display: table;

}
.nasa-photo .useraction{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nasa-photo .useraction a{
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
